@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: #584327 url("../images/fundo-madeira.jpg") top center / cover no-repeat fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 39.2rem;
    width: 19.5rem;

    background: url("../images/frame-iphone.png") no-repeat;
}

iframe#tela {
    position: relative;
    top: 5rem;
    left: 1.5rem;

    height: 29.4rem;
    width: 16.54rem;
}